.nav-bar{
    display: flex;
    flex-direction: row;
    /* justify-content: end; */
    /* background-color: black; */
    /* justify-self: flex-start; */
    justify-content: space-around;
    color: azure;
    height: 6rem;
    width: 100%;
    position: absolute;
    top: 4px;
    z-index: 1;
    position: fixed;
}

.pages{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-evenly;
    font-weight: 500;
    font-size: 19px;
    position: sticky;
    top: -1rem;
}

.li{
    align-self: center;
    cursor: pointer;
}

.li:hover{
    color: black;
    font-size: 20px;
}

.ti{
    align-self: center;
    cursor: pointer;
}

.ti:hover{
    color: azure;
    font-size: 20px;
}

.logo{
    width: 80px;
    height: 80px;
    align-self: center;
    /* display: flex; */
    justify-content: start;
    margin-right: 47rem;
}

.pages-new{
    display: flex;
    flex-direction: row;
    width: 99.5%;
    justify-content: space-evenly;
    gap: 1.5em;
    font-weight: 500;
    font-size: 19px;
    position: sticky;
    top: -1rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    height: 2rem;
}